html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.header-bg{
	background-color: #e7001d;
	text-align: center;
	padding: 1em 0;
}

h1,
h2,
h3{
	margin:0;
	text-align: center;}

h1{
	color: white;
	font-size: 1em;
}

header p{
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
}

.position-head{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 200);
}

ol{
	color: white;
	margin: 0;
}

body{
	margin:0;
}

p{
	text-align: center;
	font-size: 0.75em;
	color: white;
	margin:0;
	font-style: italic;
}

.paragraph{
	text-align: left;
	font-size: 1em;
	color: black;
	font-style: normal;
}

.one{
	background-color: #e4c22a;
	margin:0;
}

.two{
	background-color: black;
	margin:0;
}

.three{
	background-color: #bc0017;
	margin:0;
}

.four{
	background-color: #e4c22a;
	margin:0;
}

img{
	margin: 0 auto;
	width: 49.3%;
	display: inline;
}

.no-image{
	width: 100%;
	display: block;
}

.background-head{
	width: 100px;
}

.white{
	color:white;
	font-style: normal;
	text-decoration: none;
}

.underline{
	text-decoration: underline;
}

footer{
	background-color: black;
	font-size: 0.75em
}

li{
	list-style: none;
	width: 50%;
	text-align: left;
}

li:hover{
	background-color: red;
}

nav a{
	display: block;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

nav{
	background-color: #222222;
	overflow: hidden;
	font-size: 1.25em;
	width: 100%;
}
