html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.header-bg{
	background-color: #e7001d;
	text-align: center;
	padding: 1em 0;
}

h1,
h2,
h3{
	margin:0;
	text-align: center;}

h1{
	color: white;
	font-size: 1rem;
}

h2{
	position: absolute;
	display: block;
	width: 100%;
	margin: 0 auto;
	bottom: 8%;
	color: white;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 1.0);
	font-weight: normal;
	font-size: 2rem
}

.she{
	position: relative;
}

header i{
	font-size: 3rem;
	font-weight: bold;
	font-style: normal;
	display: block;
}

.position-head{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 1.0);
}

h3{
	padding: 0.5em 1em 1em 1em;
	font-size: 1.5rem;
}

ol{
	color: white;
	margin: 0;
	padding: 0;
}

body{
	margin:0;
}

p{
	text-align: center;
	font-size: 0.75rem;
	color: white;
	margin:0;
	font-style: italic;
}

.paragraph{
	text-align: left;
	font-size: 1rem;
	color: black;
	font-style: normal;
	padding: 1.5em 0.5em;
		line-height: 1.em
}

.one{
	background-color: #e4c22a;
	margin:0;
	padding: 1em 0.5em;
}

.two{
	background-color: #222;
	margin:0;
	padding: 1em 0.5em;
}

.three{
	background-color: #bc0017;
	margin:0;
	padding: 1em 0.5em;
}

.four{
	background-color: #e4c22a;
	margin:0;
	padding: 1em 0.5em;
}

.description{
	color: black;
	padding: 0 0.25em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 0.9rem;
}

.description-white{
	color: white;
	padding: 0 0.25em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 0.8rem;
}

img{
	margin: 0 auto;
	width: 49.2%;
	display: inline;
}

.no-image{
	width: 100%;
	display: block;
}

.background-head{
	width: 100px;
}

.white{
	color:white;
	font-style: normal;
	text-decoration: none;
}

.underline{
	text-decoration: underline;
	font-size: 1.25rem
}

footer{
	background-color: #222;
	font-size: 0.8rem
}

li{
	list-style: none;
	width: 50%;
	display: block;
	border: 1px solid black;
}

li:hover{
	background-color: red;
}

nav a{
	display: block;
	margin: 0;
	padding: 0.5em;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

nav{
	background-color: #222222;
	overflow: hidden;
	font-size: 1rem;
	width: 100%;
}

footer{
	padding: 2em 0;
}
